pb_data/
pb_public/
pocketbase
pocketbase.exe
*.db
*.db-shm
*.db-wal

node_modules/

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
/package

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

/.idea/
*.iws
*.iml
*.ipr
out/
.idea_modules/

tmp/
temp/